In [1]:
import pandas as pd
from src.utils import process_data, parse_row_data
import matplotlib.pyplot as plt

# Parsing row data into csv files

## Declare path to folders (you need to create it first)

In [2]:
vac_path = "row_data/vac"
capture_map_path = "row_data/capture_map"
output_path_vac = "parsed_data/vac"
output_path_capture_map = "parsed_data/capture_map"

If there is an unused column, name it "delme" to remove it during processing.

In [3]:
parse_row_data(vac_path, output_path_vac, "I,U,delme")

In [4]:
parse_row_data(capture_map_path, output_path_capture_map, "x,y,delme,B", 5)

# Capture map processing

In [5]:
capture_map_df = process_data(output_path_capture_map, "capture_map")
capture_map_df

     title      mean       std       var
0  129-4.2  0.118515  0.877461  0.769938
1  128-1.2  0.269251  1.730237  2.993719
2  128-2.1  0.301579  2.198325  4.832632
3  128-2.2  0.358561  2.236473  5.001812
4  128-3.1  0.160368  1.095029  1.199089
5  128-3.2  0.171013  1.050701  1.103973

# VAC processing

In [6]:
vac_df = process_data(output_path_vac, "vac")
vac_df

     title      angle      slope  intercept
0  128-1.2  88.134235  30.698145 -56.113315
0  128-2.1  88.339694  34.499517 -70.242525
0  128-2.2  88.370886  35.160428 -72.024727
0  128-3.1  88.290390  33.503993 -54.493007
0  128-3.2  88.511133  38.474139 -64.542153
0  129-4.2  88.537500  39.168103 -59.356651

# Join dataframes

In [7]:
result_df = pd.merge(vac_df, capture_map_df, on='title', how='inner')
result_df

     title      angle      slope  intercept      mean       std       var
0  128-1.2  88.134235  30.698145 -56.113315  0.269251  1.730237  2.993719
1  128-2.1  88.339694  34.499517 -70.242525  0.301579  2.198325  4.832632
2  128-2.2  88.370886  35.160428 -72.024727  0.358561  2.236473  5.001812
3  128-3.1  88.290390  33.503993 -54.493007  0.160368  1.095029  1.199089
4  128-3.2  88.511133  38.474139 -64.542153  0.171013  1.050701  1.103973
5  129-4.2  88.537500  39.168103 -59.356651  0.118515  0.877461  0.769938

In [9]:
result_df.to_csv('../data/data.csv', index=False)